@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Racing Sans One!important" -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 10px;
  justify-content: space-around;
}

.nav-item button {
  margin: 5px;
  background-color: #42baed;
  border: 0;
}

.nav-item .second {
  background-color: #fd671f;
}

.nav-item .nav-link {
  color: #fff;
  font-weight: 600;
}

.nav-item .nav-link1 {
  text-decoration: none;
  margin: 5px 10px;
  text-transform: uppercase;
  color: #464645;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
